body {
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    margin-left: 10px;
    margin-top: -20px;
}

hr {
    width: 96vw;
}

form input, form select {
    margin-bottom: 2px;
}

button {
    width: 200px;
    background-color: #EE3D00;
    border: none;
    border-radius: 8px;
    color: white;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #DD3900;
}

button:active {
    transform: scale(0.90);
}


#message.hidden, #message2.hidden {
    display: none;
}

#message, #message2 {
    color: green;
    font-weight: bold;
}
